.custom-input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    background: #3e85f3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.react-datepicker {
    display: inline-flex;
    padding: 9px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #3e85f3;
    border: 0;
}

.react-datepicker__navigation--previous {
    width: 18px;
    height: 18px;
    left: 18px;
    top: 24px;
}

.react-datepicker__navigation-icon--previous {
    color: #dce3e5cc;
}

.react-datepicker__navigation--next {
    width: 18px;
    height: 18px;
    right: 18px;
    top: 24px;
}

.react-datepicker__navigation-icon--next {
    color: #ffffff;
}

.react-datepicker__header {
    background-color: #3e85f3;
}

.react-datepicker__month {
    display: flex;
    flex-wrap: wrap;
    width: 336px;
    margin: 0;
    padding: 0;
}

.react-datepicker__week {
    display: flex;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
    color: white;
}

.react-datepicker__current-month {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.react-datepicker__day-names {
    display: flex;
}

.react-datepicker__day-name {
    box-sizing: border-box;
    width: 48px;
    padding: 12px 19px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.react-datepicker__day {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    padding: 12px 20px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.react-datepicker__day:hover {
    border-radius: 24px;
    background-color: #216ba5;
    color: #fff;
}

.react-datepicker__day--selected {
    border-radius: 24px;
    color: #fff;
}

.react-datepicker__day--keyboard-selected {
    border-radius: 24px;
    color: #3e85f3;
}

.react-datepicker__day--today {
    border-radius: 24px;
    background: #fff;
    color: #3e85f3;
    font-weight: 400;
}

.react-datepicker__day--weekend {
    opacity: 0.5;
}

.react-datepicker__day--outside-month {
    color: transparent;
    pointer-events: none;
}