.fieldForm {
  display: flex;
  width: 400px;
  height: 54px;
  border: solid 1px #dce3e5;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
}
.passwordField {
  display: flex;
  flex-direction: row;
}
.showPasswordBtn {
  position: fixed;
  left: 61%;
  border: none;
  cursor: pointer;
  background: none;
  padding-top: 18px;
  padding-bottom: 18px;
  color: black;
}
.fieldForm::placeholder {
  color: #dce3e5;
}
.labelField {
  display: flex;
  font-family: Inter;
  color: #111111;
  text-align: start;
  width: 400px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30.94px;
}
@media only screen and (min-width: 530px) and (max-width: 600px) {
  .showPasswordBtn {
    position: fixed;
    left: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .fieldForm {
    width: 287px;
  }
  .showPasswordBtn {
    position: fixed;
    left: 78%;
    border: none;
    cursor: pointer;
    background: none;
    padding-top: 18px;
    padding-bottom: 18px;
    color: black;
  }
  .labelField {
    width: 287px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .showPasswordBtn {
    position: fixed;
    left: 72%;
    border: none;
    cursor: pointer;
    background: none;
    padding-top: 18px;
    padding-bottom: 18px;
    color: black;
  }
}
@media only screen and (min-width: 700px) and (max-width: 820px) {
  .showPasswordBtn {
    position: fixed;
    left: 70%;
  }
}
@media only screen and (min-width: 912px) and (max-width: 1024px) {
  .showPasswordBtn {
    position: fixed;
    left: 67%;
  }
}
@media only screen and (min-width: 1024px) and(max-width: 1364px) {
  .showPasswordBtn {
    position: fixed;
    left: 60%;
  }
}
@media only screen and (min-width: 1365px) {
  .showPasswordBtn {
    position: fixed;
    left: 62%;
  }
}
@media only screen and (min-width: 1440px) {
  .showPasswordBtn {
    position: fixed;
    left: 62%;
  }
}
