// Background colors
$blue-bcg-color: #3e85f3;
$white-bcg-color: #ffffff;
$grey-bcg-color: rgba(220, 227, 229, 0.8);
$ligth-blue-bcg-color: #e3f3ff;
$black-bcg-color: #13151a;
$dark-grey-bcg-color: #21222c;

// Font colors
$white-font-color: #ffffff;
$blue-font-color: #3e85f3;
$black-font-color: #13151a;
$transparent-black-font-color: rgba(17, 17, 17, 0.7);
$grey-font-color: rgba(220, 227, 229, 0.8);

// Buttons
$blue-btn-color:#3e85f3;
$ligth-blue-btn-color:#E5EDFA;
$red-btn-color:rgba(234, 61, 101, 0.2);
$white-btn-color:#ffffff;


// Icon colors
$red-icon-color:#EA3D65;
$blue-icon-color:#3e85f3;
$orange-icon-color:#FFAC33;

// Font styles
$primary-font: 'Inter', sans-serif;
$hero-font:'Coolvetica', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Task colors
$task-priority-low-color: #72c2f8;
$task-priority-medium-color: #f3b249;
$task-priority-high-color: #ea3d65;

//Decorations
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
