.container {
    width: 900px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 20px;
    /* font-size: 20px;
    text-align: center; */
}

.title {
    /* margin-left: 60px; */
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 94);
}

/* .icon {
    height: 30px;
} */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* color: rgb(179, 253, 247); */
    padding: 10px 30px;
    background-color: #eeeeee;
    border-radius: 20px;
}

.subnavigation {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    /* margin-left: 0; */
}

.link {
    font-size: 24px;
    text-decoration: none;
    /* color: chartreuse; */
}

