.statistics__title {
    color: #343434;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

@media screen and (min-width: 375px) {
    .bar__chart {
        width: 279px;
        height: 333px;
    }
}

@media screen and (min-width: 768px) {
    .bar__chart {
        width: 576px;
        height: 360px;
    }
}

@media screen and (min-width: 1440px) {
    .bar__chart {
        width: 780px;
        height: 360px;
    }
}