.container {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.strong {
    font-size: 26px;
}

.input {
    font-size: 20px;
    padding: 5px 10px;
}