.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #010101;
}
/* 
.form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px solid black;
} */

.h1 {
    font-size: 34px;
    /* color: blue; */
}

.text {
  font-size: 24px;
}

.form {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 22px;
}

.input {
  font-size: 20px;
  padding: 5px 10px;
}

.button {
  font-size: 20px;
  padding: 5px 10px;
}
