.form {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
}

.element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.input {
    font-size: 20px;
    padding: 5px 10px;
    /* border-radius: 6px; */
    /* outline: none; */
    /* border: 1px solid black; */
}

.button {
    font-size: 20px;
    padding: 5px 10px;
}