.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(220, 235, 247);
  background-image: url('../../images/register/goose_register@1x.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 424px;
  width: 480px;
  background-color: #ffffff;
  border-radius: 10px;
}
.formError {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 510px;
  width: 480px;
  background-color: #ffffff;
  border-radius: 10px;
}

/* style for mobile */
@media only screen and (max-width: 600px) {
  .container {
    background-image: none;
  }
  .form {
    width: 335px;
  }
  .formError {
    height: 520px;
    width: 335px;
  }
}
/* style for tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    background-image: none;
  }
}
