.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  width: 395px;
}
.error svg {
  margin-right: 5px;
}


@media only screen and (max-width: 600px) {
  .error {
    width: 287px;
  }
}
